.nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
}
.nav span {
  font-family: "Bungee", cursive;
  font-size: xx-large;
}

.nav.scrolled {
  background-color: #e6a719;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  transition: background-color 200ms linear;
}